<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=807002692662559";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->


<div class="content">
<%if !@featured.nil? and !@featured.empty?%>
                <%i=1%>
				<%@featured.each do |a|%>
				<div class="articledefault">
				<div class="thumbnail"><div class="info"><div class="author">by <a class="name"  target="_parent" href="/user/profile/<%=a.user.id%>"><%=get_name(a.user)%></a><br><br>Written: <%=distance_of_time_in_words(a.created_at,Date.today)%> ago. </div><div class="category"><%=if a.regions.empty? then "WORLD" else a.regions.first.name end %> </div></div><a target="_parent" href="/article/show/<%=a.id%>"><img  src="<%=a.picture%>"></a></div>
				<a target="_parent" href="/article/show/<%=a.id%>" class="title"><%=a.headling%></a>
		    	</div>
		    	<%if i==3%><div style="clear:both;"></div><%end%>
		    	<%i+=1%>
		    	<%end%>
	<div style="clear:both;"></div>
<%end%>
<%if @articles.blank?%>
No more articles
<%else%>
<%key=-1%>
<%@articles.each do |a|%>
<%key+=1%>

<div class="article">
				<div class="score">
					<div class="txt"><%=a.score%></div>
				</div>
				<a  target="_parent" class="thumbnail" href="/article/show/<%=a.id%>"><img  src="<%=a.picture%>"></img></a>
				<div class="info">
					<a target="_parent" href="/article/show/<%=a.id%>" class="title"><%=a.headling%></a>
					<p class="description"><%=a.header%></p>
					<p class="author">Author: <a target="_parent" href="/user/profile/<%=a.user.id%>" class="author-color"><strong><%=get_name(a.user)%></strong></a> - <%=distance_of_time_in_words(a.created_at,Date.today)%>  ago.
					
					<%if @default%>
					- 
					<%case @reason[key]%>
					<%when 1%>
					Because is <b>Hot</b>
					<%when 2%>
					Because is <i>Trending Article</i>
					<%when 3%>
					Because is a <span class="new-article">New article</span>
					<%when 4%>
					Because you're <u>Following</u> the author
					<%else%>
					<%=@reason[key]%>
					<%end%>					
					<%end%>
					
					<%if a.score<get_config("trending").to_i%> 
					<%if !@user.blank? and @user.id==a.user.id%>
					<img src="/img/edit-img.png" style="margin-left:15px; margin-right:4px;"><a target="_parent" class="edit" href="/article/edit/<%=a.id%>">Edit article</a>
					<%end%>
					<%end%>
					</p>
				</div>
				<div class="social">
				<%url="http://www.tordate.com/article/show/"+a.id.to_s%>
				<%title=a.headling%>
				<a class="btn facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=<%=url%>"></a>
				<a class="btn twitter" target="_blank" onclick="return !window.open(this.href, '', 'width=640,height=258')" href="http://twitter.com/share?text=<%=title%>&url=<%=url%>"></a>
				<a class="btn google" target="_blank" onclick="return !window.open(this.href, '', 'width=600,height=600')" href="https://plus.google.com/share?url={<%=url%>}"></a>
				</div>
                </div>
					                


                <%end%>

                <!-- Place this tag after the last share tag. -->
              	<!--  <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
				
                </div>
</div>
<%end%>
