<script>


$(document).bind("ajax:success", function(evt, data, status, xhr){
if(data){
alert("Correctly added - Reload to show");
}
else{
alert("Error - Couldn't add the counterevidence");
}
});
$(document).bind("ajax:error", function(evt, data, status, xhr){
alert("Error - NO connection");
});

function votecounter(num,up){
$.ajax({
    type: "GET",
    url: "/counterevidence/vote?id="+num+"&up="+up,
    dataType: "json",
    success: function(data){
       if(!data.destroyed){
       if(up){
       document.getElementById("cv["+num+"]u").className="vote upvote voted";
       document.getElementById("cv["+num+"]d").className="vote downvote";
       }
       else{
       document.getElementById("cv["+num+"]d").className="vote downvote voted";
       document.getElementById("cv["+num+"]u").className="vote upvote";
       }
       }else{
        if(up){
       document.getElementById("cv["+num+"]u").className="vote upvote";
       }
       else{
       document.getElementById("cv["+num+"]d").className="vote downvote";
       }
       }
    }   ,    
    error: function(){
    alert("error");
} 
});
return false
}

function refreshscore(){
$.ajax({
    type: "GET",
    url: "/article/show/<%=@article.id%>?json=true",
    dataType: "json",
    success: function(data){
        document.getElementById("score").innerHTML=data.score;
    }        
});
}


function displayThanks(){

	if(document.getElementById("thanks").style.opacity!="1"){
		document.getElementById("thanks").style.opacity="1";
		document.getElementById("thanks").style.style.filter='alpha(opacity=100)';
	}

}

function voteup(){
$.ajax({
    type: "GET",
    url: "/vote/article/up/<%=@article.id%>",
    dataType: "json",
    success: function(data){
        voteOption=document.getElementById("up");
        voteOptiono=document.getElementById("down");
        if(!data.selected){
        document.getElementById("upvote").className= "vote upvote";
        }
        else{
        document.getElementById("upvote").className+= " activeVote";
        document.getElementById("downvote").className= "vote downvote";
        }
        displayThanks();
    }        
});
refreshscore();
}

function votedown(){
$.ajax({
    type: "GET",
    url: "/vote/article/down/<%=@article.id%>",
    dataType: "json",
    success: function(data){
        voteOption=document.getElementById("down");
        voteOptiono=document.getElementById("up")
        if(!data.selected){
        document.getElementById("downvote").className= "vote downvote";
        }
        else{
        document.getElementById("downvote").className+= " activeVote";
        document.getElementById("upvote").className= "vote upvote";
        }
        displayThanks();
    }        
});
refreshscore();
}
</script>
<div class="news">
				
				<a class="go-back" href="/">Go back</a>
				<p class="profile">Score: <span class="bigger" id="score"><%=@article.score%></span><br></p>
				<%if !@user.blank?%>
				<a class="vote upvote <%=if @voted_up then 'activeVote' end%>" id="upvote" onclick="voteup()"></a>
				<a class="vote downvote <%=if @voted_down then 'activeVote' end%>" id="downvote" onclick="votedown()"></a>
				<%else%>
				<b>SIGN IN TO VOTE!</b>
				<%end%>
				<div class="thanks" id="thanks">Thank you for voting!</div>
				<%url="http://www.tordate.com/article/show/"+@article.id.to_s%>
				<%title=@article.headling%>
				<a class="share facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=<%=url%>"></a>
				<a class="share twitter" target="_blank" onclick="return !window.open(this.href, '', 'width=640,height=258')" href="http://twitter.com/share?text=<%=title%>"></a>
				<a class="share google" target="_blank" onclick="return !window.open(this.href, '', 'width=600,height=600')" href="https://plus.google.com/share?url={<%=url%>}"></a>

				
	</div>			
	<%if @article.reportev.nil? or @article.reportev==0 then @article.update(reportev:0) end%>
	<%if @article.reportco.nil? or @article.reportco==0 then @article.update(reportco:0) end%>
	<%if @article.score !=0%>
	<%if @article.reportev*1.0*get_config(:vote_power).to_i/@article.score>get_config(:reportev).to_d or 
	@article.reportco*1.0*get_config(:vote_power).to_i/@article.score>get_config(:reportco).to_d
	%>
		<div class="article-page"><span class="warning"><strong>NOTE:</strong> This article has been reported and flagged several times due to: 
		<b>
		<%if @article.reportev*1.0*get_config(:vote_power).to_i/@article.score>get_config(:reportev).to_d%>
		For lack of truthfull evidence
		    <%if @article.reportco*1.0*get_config(:vote_power).to_i/@article.score>get_config(:reportco).to_d%>
		    and hateful content.
		    <%end%>
		<%else%>
		For hateful content.
		<%end%>
		</b>
		</div>
    <%end%>
    <%end%>

<div class="article-page">

					<p class="title"><%=@article.headling%></p>
					<p class="subtitle"><%=@article.header%></p>
					<p class="author">by <a class="profile" href="/user/profile/<%=@article.user.id%>"><%=@article.user.name.to_s+" "+@article.user.surname.to_s%></a> - <strong>Date:</strong> <%=distance_of_time_in_words(@article.created_at,Date.today)%> ago.</p>
					<div class="separator"></div>
					<div class="body-wrapper"><%=raw(@article.body)%></div>

					<div class="separator"></div>
					<p class="sources"><strong>Sources:</strong><br><br>
					<%@article.evidence.each do |e|%>
					<a class="links" href="<%=e.url%>"><%=if e.description.blank? then e.url else e.description end%></a><br>
					<%end%>
					</p><br>
					<div class="separator"></div>
					<div class="sources"><strong>Counterevidence:</strong><br><br>
					
                    <%@article.counterevidence.order(:score).each do |c|%>
                    <%if !@user.blank?%>
                    <%votes=VoteEvidence.where(user_id:@user.id,evidence_id:c.id)%>
                    <%if !votes.empty? then 
                    if votes.first.is_up then
                    upv=true
                    else
                    dov=true
                    end
                    end%>
                    
                    <a href="#" class="vote upvote <%=if upv then 'voted' end%>" id="cv[<%=c.id%>]u" onclick="return votecounter(<%=c.id%>,true)"></a><a href="#" id="cv[<%=c.id%>]d" class="vote downvote <%=if dov then 'voted' end%>" onclick="return votecounter(<%=c.id%>,false)"></a><%end%>
                    <a class="links-high" href="<%=c.url%>"><%=if c.description.blank? then c.url else c.description end%></a><div class="clear-links"></div>
                    <%end%>
                    </div>
                    <div class="sources">
                     <%=form_tag("/counterevidence/add",method:"GET",remote:true,html:{"data-type" => :json}) do |f|%>
                    <strong>Add counterevidence:</strong><br><br>
                    <input type="hidden"  name="counterevidence[article_id]" value="<%=@article.id%>">
                    Url:<br><input type="text" class="inputs"  name="counterevidence[url]"><br> 
                    Description:<br><input type="text" class="inputs"  name="counterevidence[description]"><br>
                    <input type="submit"  class="add-more" value="Add counterevidence"><br>
                    <%end%>
                    </p>
                    </div>
                    <div class="separator"></div>
					<br>
					<%if !@user.nil?%>
					<span style="margin-left:20px"><b>Report</b> this article for: <a style="color:#f00" href="/article/report/<%=@article.id%>/1"><i>Lack of evidence / False Evidence</i></a> or  <a  style="color:#f00" href="/article/report/<%=@article.id%>/2"><i> Hateful Content / Inadequate content</i></a>
					<%end%>


<div class="disqus-wrapper">




<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tordate'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a></div>
